html {
  overflow-x: hidden;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fuuddesc {
  color: #1b6bff;
  font-family: "SFUITEXT";
  font-size: 11px;
  font-weight: 500;
}

.slideshowBorder {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
  height: 54rem;
  width: 32rem;
  margin-top: 5rem;
  margin-left: 2rem;
  border-radius: 3rem;
}

.slideshowContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
}

.skillsused {
  font-family: "PaulGrotesk";
  color: #1b6bff;
  margin-bottom: 0.5rem;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
}

.skillimg {
  width: 1.25rem;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.skillname {
  color: #1b6bff;
  margin-bottom: 1rem;
  font-size: 8px;
}

.reactnativeskill {
  color: #1b6bff;
  margin-bottom: 1rem;
  font-size: 7px;
}

.boxes:hover {
  scale: 110%;
}

.projectskills-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 0px;
  margin-bottom: 1rem;
}

.Buttons {
  display: flex;
  flex-direction: row;
}

.GitHubLink {
  margin-right: 5rem;
}

.GitHubLink {
  font-family: "PaulGrotesk";
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.GitHubLink:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}

.HostedLink {
  font-family: "PaulGrotesk";
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #0066cc;
  padding: 3px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.HostedLink:hover {
  transition: 1000ms;
  padding: 3px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}
