@font-face {
  font-family: "Body";
  src: url(fonts/BodyText-LargeBold.ttf);
}

@font-face {
  font-family: "sequel-sans";
  src: url(fonts/sequel-sans-heavy-disp.ttf);
}

@font-face {
  font-family: "PiS Creatinin Pro";
  src: url(fonts/PiS\ Creatinin\ Pro.otf);
}
@font-face {
  font-family: "PaulGrotesk";
  src: url(fonts/PaulGrotesk-Bold-Trail.otf);
}

* {
  margin: 0;
  padding: 0;
}

.Home-Page {
  background: linear-gradient(
    90deg,
    rgb(27, 107, 255) 65%,
    rgb(51, 51, 51) 35%
  );

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 100; /* Just to keep it at the very top */
}

.landing-page-top {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: right;
}
.landingcoloumn {
  display: flex;
  flex-direction: column;
  align-items: left;
}
h1.fullstack {
  font-family: "sequel-sans";
  color: rgb(255, 255, 255);
  font-size: 75px;
  text-align: left;
  margin-left: 10.55%;
  margin-top: 11.6%;
}
.fullstop {
  color: #333;
  font-family: "PaulGrotesk";
}
.subheading {
  font-family: "PaulGrotesk";
  text-align: left;
  color: rgb(255, 255, 255);
  position: relative;
  margin-left: 10.55%;
  margin-top: 2.6%;
}

/* PDF CV IMPORT */

iframe {
  height: 100%;
  width: 100%;
  position: fixed;
  align-self: center;
  margin: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgb(27, 107, 255) 65%,
    rgb(51, 51, 51) 35%
  );
}
